*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.input{
    align-items: center;
    text-align: center;
    margin:100px 0px;
}
input[type="text"]
{
    font-size:14px;
    border:3px solid black;
    height:50px;
    width:500px;
    background-color: bisque;
    color:chocolate;
}
input[type="submit"]
{
    font-size:20px;
    border:none;
    height:50px;
    width:100px;
    background-color:greenyellow;
    color:black;
    border-radius: 4px;
}
.display{
    text-align: center;
     /*height:400px;
     width:400px;
     align-items: center;
     background-color: aqua;   
     margin:auto;*/

}
